<section class="dashboard__sidebar">
    <ul>
        <li>
            <a href="">
            <i class="fas fa-home"></i>
            <span>Home</span>
            </a>
        </li>
        <hr style="
          height: 1px;
          border-width: 0;
          color: rgba(255, 255, 255, 0.61);
          background-color:  rgba(255, 255, 255, 0.719);
      ">
        <li>
            <a href="/recentest">
            <i class="fas fa-bars"></i>
            <span>Recent Test</span>
            </a>
        </li>
        <li>
            <a href="/createtest">
            <i class="fas fa-plus-square"></i>
            <span>Create Test</span>
            </a>
        </li>
        <li>
            <a href="/account">
            <i class="fas fa-user-circle"></i>
            <span>Account</span>
            </a>
        </li>
        <li>
            <a href="/whatsnew">
            <i class="far fa-bell"></i>
            <span>What's New</span>
            </a>
        </li>
    </ul>
</section>